parsers=com.logframework.parser.JsonLogParser,com.logframework.parser.ApacheAccessLogParser,com.logframework.parser.SpringBootLogParser
filters=com.logframework.filter.RegexFilter,com.logframework.filter.TimeRangeFilter
aggregator=com.logframework.aggregator.LogLevelCountAggregator,com.logframework.aggregator.TopEndpointsAggregator,com.logframework.aggregator.ErrorRateOverTimeAggregator
reporter=com.logframework.reporter.ConsoleReporter,com.logframework.reporter.CSVReporter,com.logframework.reporter.JSONReporter
reporter.outputFolder=reporter
